@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700;900&display=swap&family=Lato&family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tienne:wght@400;700;900&display=swap');

/*<a href="https://www.freepik.com/free-ai-image/photorealistic-money-concept_94935424.htm#query=money%20bank&position=13&from_view=search&track=ais_ai_generated&uuid=89f916c5-971a-4198-9f48-2aef499a8c30">Image By freepik</a>
<a href="https://www.freepik.com/icon/photo-camera_1298488#fromView=search&term=switch+camera&track=ais&page=1&position=54&uuid=083ac5eb-acb8-4b9b-9de2-b34e0f54152b">Icon by Freepik</a>
*/
* {

    color: #262828;
}

html {

    margin: 0;
    padding: 0;
    height: 100vh;
}

/* main element styles */
main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    max-width: 100%;
    max-height: 100vh;
    overflow: scroll; /* Ensure the background image is not visible outside the main container */
}
/* Body styles */
body {
    background: url('../images/expense-background.jpg') no-repeat center center/cover;
    margin: 0;
    background-color: rgba(0, 0, 0, 1) !important;
    /* Set background color to transparent */

    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* fit to screen responsive div */
.fit-to-screen-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 64.5em;
    margin: 0;
    padding: 1em;
    /* Add padding as needed */
    box-sizing: border-box;
    /* Include padding in the total width */
}

.active {
    color: #EEB533 !important;
    font-weight: 700;
}

/* LOGO */
.logo-image {
    height: 85px;
}

h1,
h2,
.section {
    padding: 10px;
    margin: 0;
    background-color: #3D946E;
}

h3 {
    text-align: center;
}

.navbar-toggler {
    background-color: white !important;

}

.navbar-nav .nav-link {
    padding: 5px !important;
}

.goals-box {
    padding: 15px;
    border-radius: 4px;
    border: 3px solid #3D946E;
    background-color: #B8F3D9;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.analytics-list-item {
    border: 1px solid #ccc;
    margin: 0px 0;
    list-style: none;

}

#display-budget-container {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;

}

/* expense section */
#expense-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 100%;
    overflow-y: scroll;
    max-height: 100%;
    margin: 0 auto;
    padding-bottom: 3rem;
    box-sizing: border-box;

}


#expense-section h3 {
    width: 100%;
    padding: 0.3rem;
}

#budget-display {
    width: 100%;
    padding: 0.6rem 0em;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid rgb(255, 255, 255);
    ;
}
#save-shopping-list-to-storage-popup{
    display: none;
}
#scrollable-container-display-data-conatiner {
    overflow-Y: auto;
    width: 100%;
    white-space: nowrap;
    /* Prevent text wrapping */
}

#data-display-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* Remove default list styles */
    padding: 0;
    margin: 0;
    display: flex;
    /* Use flexbox to arrange divs horizontally */
}

#analytics-popup-list {
    list-style: none;
    padding: 0;
    padding: 5px;
}

#analytics-popup-list li {
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-weight: 500;
}

.highlight-text {
    background-color: rgb(227, 192, 102);
}

.highlight-text-popup {
    background-color: rgb(227, 192, 102);
}

#update-shopping-list-popup {
    display: flex;
    z-index: 10000;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: space-between;
    align-items: center; /* Align center vertically */
    text-align: center;
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}


#close-update-shopping-popup {
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    right: 5px; /* Position it to the right */
    width: 10%;
    background-color: rgba(233, 155, 155, 0.2);
    color: white;
    border: 1px solid white;
}

  #update-input{
    background-color: rgba(23, 0, 0, 0.9);
    color: white;
    border: 1px solid white;
    width: 90%;
    margin: 0 auto;
  }
#add-to-update-shopping-list-button{
    margin: 0 auto;
}


#update-shopping-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(1, 6, 51, 0.2);
    height: 50%;
    width: 95%; /* Optional: Adjust the width as needed */
    border: 2px solid red;
}

#track-popup {
    display: none;
    position: fixed;
    top: 50%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    left: 50%;
    z-index: 20202;
    border: 2px solid rgba(0, 0, 0, 1);
    transform: translate(-50%, -50%);
    text-align: center;
    /* Center the content horizontally */
}

#close-popup-insights {
    margin: 10px auto;
    /* Adjust the margin from the top and center horizontally */
    border: 2px solid #212529;
}

#close-popup {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
}

#data-display-list>div {
    /* Adjust styles for each individual div */
    border: 2px solid silver;
    /* Updated border style */
    border-radius: 5px;
    /* Added border radius */
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px #888888;
    /* Added box shadow */
    text-align: center;

}



#data-analytics-title {
    width: 100%;
    background-color: #EEB533;
    justify-content: center;
    display: flex;
    text-align: center;
}

#goals-display-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#goals-display-list>div {
    width: 100%;
    margin: 5px;
    margin-bottom: 2px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #2b5783;
}


#cost-value-input {
    display: block;
    margin: 0 auto;
    height: 3rem;
    text-align: center;
}

.expense-buttons h3 {
    margin-bottom: 10px;
}

/*goals section*/
#goals-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100;
}

/*goals text for empty goals container*/
#goals-container p {
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 3em;
    background: #EEB533;
}

/*display budget input*/
#update-budget-container {

    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

/* Allow buttons to wrap into multiple rows */
.expense-buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#basic-needs-buttons,
#luxury-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust as needed */
    max-width: 600px;
    /* Set a maximum width to control button distribution */
    margin: 0 auto;
    margin-top: 1rem;

}

.basic-needs-buttons,
.luxury-buttons {
    width: 30%;
    /* Adjust width as needed */
    margin-bottom: 10px;
    /* Adjust margin as needed */
}



.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




/* Footer styles */
footer {

    position: fixed;
    background-color: #88c1fa;
    color: white;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    text-align: center;
}

/* Social media links styles */
.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-links a {
    color: #3D946E;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

.fab:hover {
    color: #EEB533 !important;
}


/* Additional styles for the footer paragraph */
footer p {
    margin-top: 10px;
    color: white;
    font-size: 14px;

}

.foot-link {
    color: #3D946E;
}

.foot-link:hover {
    text-decoration: none;
    font-weight: 700;
    color: #EEB533;
}

h3,
.card td {
    background-color: #B8F3D9;

}


.card-container {
    height: 100%;
    justify-content: center;
    display: flex;
    overflow-x: scroll;
}




.card table {
    max-width: 100%;
    border-collapse: collapse;
}

.card td {
    padding: 6px;
    text-align: center;
}

/* filter buttons*/
.card button {

    margin: 5px 0;
    box-shadow: 4px 4px 10px 0 rgba(38, 40, 40, 0);
    border-radius: 15px;
    border: 2px solid #262828;

}

.card button:hover {
    background-color: #85CCAD;
    /* background-color: #3D946E; */
}

.button-text {
    font-family: 'Lato', sans-serif;
}

.input-type {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

input,
textarea#message {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #3D946E;

}

/* Apply styles based on goal status */
.goal-list-item {
    background-color: #555988;
    color: white;
    text-align: center;
    line-height: 1.5;
    /* Adjusted line height for better vertical alignment */
    margin-bottom: 8px;
    /* Increased margin for better spacing */
    border: 2px solid #333;
    border-radius: 10px;
}

#dropdown-goal-list div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    border: 2px solid #333;
    background-color: #ccc;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
}

#dropdown-goal-list {
    align-items: flex-start;
    /* Add this line to make items start from the top */
    border: 2px solid silver;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    /* Adjust padding as needed */
}

/* Hover effect */
#dropdown-goal-list div:hover {
    background-color: #7388A6;
}

/*delect goal duration*/
#duration {
    border: 1px solid #EEB533;

}


input {
    width: 300px;
}

textarea {
    height: 150px;
}

#budget-goal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#goal-deposit-button {
    margin: 5px;
    padding: 7px 2px;
    background-color: rgba(7, 124, 3, 0.7);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 0 rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#update-budget-button {
    margin: 5px;
    padding: 7px 2px;
    background-color: rgba(7, 124, 3, 0.7);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 0 rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#main-input-value {
    width: 300px;
    text-align: center;
}


/*styles top regulate color displayed budget*/
.positive-budget {
    color: rgba(7, 124, 3, 0.9);
    border: 3px solid rgb(255, 255, 255);
    ;
    font-family: 'Tienne', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bolder;
}

.negative-budget {
    color: #f20e0e;
    font-family: 'Tienne', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

/*animation for cost?budget number styles*/
#input-animation-value-display {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 10000;
    transform: translateY(-50%);
    margin-right: 20px;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*animations for expanse and budget inputs*/
.fadeout-animation {
    animation: fadeOut 1s ease-in-out forwards;
}

/* Updated calendar styles */
#calendar {
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.day:hover {
    background-color: #e0e0e0;
}

.current-month {
    grid-column: span 7;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-200%);
    }
}

/* SCROLL TO TOP BUTTON */
.scroll-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 0px;
    z-index: 999;
    background-color: transparent;

}

#scroll-button {
    border: 4px solid #EEB533;
    border-radius: 50%;
    margin-right: 15px;
    width: 45px;
    height: 45px;
}

#scroll-button:hover {
    background-color: #B8F3D9;
    border: 4px solid #262828;
}

.arrow {
    font-size: 20px;
    background-color: transparent;
}


/* JUMP TO SPECIFIC SECTION */
a#aboutSection,
a#contactSection,
a#diarySection,
a#insightsSection,
a#setupSection {
    color: #212529;
}


/* /* CONTACT US */
.container {
    width: 400px;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

form {
    display: flex;
    flex-direction: column;
}

#contact-wraper {
    display: none;
    color: white;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: scroll;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
}

form #contact-form {
    font-family: 'Tienne', sans-serif;
    font-size: 16px;


}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
}

input#file {
    padding: 3px;
}

.submit-button {
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #3D946E;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #B8F3D9;
}

/*navigation container*/
#navigation-container {
    display: none;
}

/*contact container*/
#contact-container {

    display: block;
    color: white;

    max-width: 100%;
    overflow: scroll;
    z-index: 100;
    width: 100%;

    position: absolute;
}

#about-section-wraper {
    display: none;
    color: white;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    overflow: scroll;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*INSIGHT SCREEN SECTION*/
#insights-container {
    color: white;
    display: flex;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100400000;
}

/*INSIGHST BUTTOONS*/
#insight-navigation-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/*
*styles fo goals and xspenses*
**/

/* Make the insight-content-container span the entire screen and use flex */
#insight-content-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    /* Make it fill the entire screen height */
}

/* Make both children equally share the available space */
#tracker-body-container,
#display-goals {

    border-bottom: 4PX solid grey;
    padding: 5px;
    /* Add padding as needed */
}

/* Align #tracker-body-container to the top of its parent and set column layout */

.goals-list-item {
    margin-bottom: 8px;
    /* Adjust the margin as needed */
}

/* Add more styles as needed */
.achieved-button {
    background-color: #4caf50;
    /* Green background color */
    color: white;
    /* White text color */
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.goals-list-item strong {
    font-weight: bold;
    margin-right: 5px;
    /* Adjust the margin as needed */
}

.goals-list-item span {
    font-weight: bold;
}

.goals-list-item .active {
    color: green;
    border: 1px solid #3D946E;
}

.goals-list-item .reached {
    color: red;
    border: 1px solid red;
}

#tracker-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#insights-buttons-container {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
    margin: 0;
    justify-content: space-evenly;

}

/* Style the data-analytics-title */
#data-analytics-title {
    margin-top: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#goals-display-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

#goals-display-list>li {
    /* Set the font size to 23px for each list item */
    margin: 0;
    /* Remove any margins */
    /* Add other styles as needed */
}


/* Style the close button */
#close-data-for-date-button {
    margin: 0 auto;
    padding: 10px;
    display: none;
    border-radius: 20px;
    border: 3px solid #3D946E;
    background-color: #85CCAD;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}

#close-goals-button {
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #3D946E;
    background-color: #85CCAD;
    color: #262828;
    font-size: 18px;
    font-weight: 700;
    width: 15rem;
    cursor: pointer;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 0 auto;
}

#close-data-for-date-button:hover {
    background-color: #FFFAED;
    border: 3px solid #EEB533;

}

.insights-buttons {
    margin: 5px;
    padding: 7px 0px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 0 rgba(255, 255, 255, 0.3);
    color: black;
    text-align: center;
    font-weight: 600;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#organizer-button-container{
    display: flex;
    flex-direction: row;
}
.tracker-buttons {
    margin: 5px;
    padding: 7px 0px;
    background-color: rgba(37, 4, 4, 0.7);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 8px 0 rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
    font-weight: 600;
    width: 45%;
    border-radius: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#tracker-organizer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-item-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

#add-to-shopping-list-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-self: center;
}

#add-to-shopping-list-button:hover {
    background-color: #45a049;
}
#shopping-list-popup{
    display: none;
}
#shopping-list-popup,#latestShopingList, #latestNote {
   margin: 10px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 95%;
}
#camera-shopping-list {
    margin: 10px;
     padding: 20px;
     color: white;
     display: none;
     background-color: rgba(0, 0, 0, 0.8);
     border: 1px solid #ddd;
     border-radius: 8px;
     width: 95%;
 }
#save-shopping-list-button {
    padding: 5px 10px;
    width: 25%;
    border-radius: 20px;
   margin-left: 190px;
   color: white;
   border: 2px solid silver;
   margin-bottom: 10px;
   background-color: rgba(255, 0, 0, 0.4);
}
/*update-start-shoping-shopping-list styles*/
#update-start-shoping-shopping-list{
    display: none;
}
#display-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
#update-start-shoping-shopping-list-screen {
    display: none;
  
}
#close-action-shopping-list-button {
    position: absolute;
    top: 10px;
    right: 10px; 
    width: 20%;
}

#action-shopping-list{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.8);
   
}

#action-list-container{
    display: flex;
    flex-direction: row;
}

.h5-shopping-list, .h5-note-list,#latestShopingList h5,#update-start-shoping-shopping-list-screen h5 {
    text-align: center;
    color:white;
    font-size: 1.2rem; /* Adjust the font size as needed */
}

.shopping-list, .note-list,#update-shopping-list-list {
    list-style-type: none;
    padding: 0;
}

.shopping-list li, .note-list li,#camera-shopping-list{
    background-color: #b3bfc3;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
#update-shopping-list-list li{
    background-color: rgba(0, 0, 0, 0.8);
color: white;
display: flex;
border: 1px solid white;
width: 90%;
margin: 0 auto;
justify-content: space-between;
margin-bottom: 5px;
padding: 8px;
}
.popup {
   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    z-index: 1;

}

.custom-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

/* Remove bottom border for the last item in the list */
.shopping-list li:last-child, .note-list li:last-child {
    border-bottom: none;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
}


/* Navbar styles */
#navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0px;



}

.nav-link {
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8em;
}

.nav-link:hover {
    background-color: #EEB533;

}

/* Active button style */
.nav-link.active {
    background-color: white;

}

#nav-buttons-container {
    width: 90%;
}

.contact-section {
    margin-bottom: 80px;
}

/* TESTING CONTACT / SUCCESS MESSAGE */
.message {
    width: 100%;
    position: relative;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}
#edit-shopping-list-popup{
    display: none;
}
/*DEPOSIT AND GOALS STYLES*/
#goals-popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 0.3rem solid #3D946E;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    width: 80%;
    position: fixed;
    z-index: 4444444;
}

#goal-form {
    padding: 0px;
    justify-content: center;
    display: flex;
    align-self: center;
}

/*dosplay goals container*/
#create-goal-form {
    transform: translate(-50%, -50%);
    z-index: 999999;
    border: 0.3rem solid #3D946E;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;

}

.delete-button {
    /* Add your styles here */
    /* For example: */
    cursor: pointer;
    font-weight: bold;
}

#submit-goal-button {
    margin: 0 auto;
    margin-bottom: 10px;
}

#display-goals {
    z-index: 1;
    display: flex;
    display: block;
    flex-direction: column;
    top: 0;
    width: 100%;

}

#display-goals h3 {
    margin-top: 20px;
    width: 100%;

}

#goals-analytics-title {
    font-size: 1.3rem;
}

#goals-menu-title {
    text-align: center;
}

.resize-buttons {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
}

button#create-goal-button {

    background-color: #EEB533;
    border: 2px solid #262828;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
}

#no-goal-yet-message {
    margin: 15px;
    text-align: inherit;
}

#start-shopping-delete-popup{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    width: 90%;
    height: 5em;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
 
    margin: 0 auto;
  
}
/***
camera styles ****/

#camera-container {
    position: absolute;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    height:100% ;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 640px;
    /* Adjust the maximum width as needed */

}

#camera {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #ccc;
  
    border-radius: 5px;
max-height: 350px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#cost-number-tracker {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

#title-cost-tracker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center vertically as well */
}

#title-cost-tracker-container h3 {
    margin-right: 10px;
    /* Adjust margin as needed for spacing between elements */
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

#start-camera-scan {
    padding: 10px;
    width: 60%;
    /* Adjust the width as needed */
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    /* Center horizontally */
    margin-top: 100px;

}



#result {
    margin-top: 10px;
    color: white;
    display: flex;
    display: block;
    justify-content: space-between;
}

#number-found {
    border: 2px solid #ccc;
    /* Border color */
    border-radius: 5px;
    /* Border radius */
    padding: 10px;
    color: #008CBA;
    background-color: rgba(0, 0, 0, 0.7);
}

#add-to-chart {
    padding: 10px;
    background-color: #008CBA;
    /* Blue background color */
    color: white;
    /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}